Adjust SOC for rainy days.json
[
  {
    "id": "d8bd6c330cdcc468",
    "type": "tab",
    "label": "Adjust SOC for rainy days",
    "disabled": false,
    "info": "Increase the SOC for the timer slot when cloudy weather is forecast",
    "env": []
  },
  {
    "id": "e7f4769dec01691a",
    "type": "api-current-state",
    "z": "d8bd6c330cdcc468",
    "name": "Get weather",
    "server": "779f7348.25937c",
    "version": 3,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "weather.home_hourly",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      },
      {
        "property": "status.text",
        "propertyType": "msg",
        "value": "",
        "valueType": "triggerId"
      }
    ],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 590,
    "y": 240,
    "wires": [["0d46c383a19875e1"]]
  },
  {
    "id": "234d551f34c97538",
    "type": "bigtimer",
    "z": "d8bd6c330cdcc468",
    "outtopic": "",
    "outpayload1": "on",
    "outpayload2": "",
    "name": "Big Timer",
    "comment": "",
    "lat": 0,
    "lon": 0,
    "starttime": "240",
    "endtime": 1425,
    "starttime2": 0,
    "endtime2": 0,
    "startoff": 0,
    "endoff": 0,
    "startoff2": 0,
    "endoff2": 0,
    "offs": 0,
    "outtext1": "",
    "outtext2": "",
    "timeout": 1440,
    "sun": true,
    "mon": true,
    "tue": true,
    "wed": true,
    "thu": true,
    "fri": true,
    "sat": true,
    "jan": true,
    "feb": true,
    "mar": true,
    "apr": true,
    "may": true,
    "jun": true,
    "jul": true,
    "aug": true,
    "sep": true,
    "oct": true,
    "nov": true,
    "dec": true,
    "day1": 0,
    "month1": 0,
    "day2": 0,
    "month2": 0,
    "day3": 0,
    "month3": 0,
    "day4": 0,
    "month4": 0,
    "day5": 0,
    "month5": 0,
    "day6": 0,
    "month6": 0,
    "day7": 0,
    "month7": 0,
    "day8": 0,
    "month8": 0,
    "day9": 0,
    "month9": 0,
    "day10": 0,
    "month10": 0,
    "day11": 0,
    "month11": 0,
    "day12": 0,
    "month12": 0,
    "d1": 0,
    "w1": 0,
    "d2": 0,
    "w2": 0,
    "d3": 0,
    "w3": 0,
    "d4": 0,
    "w4": 0,
    "d5": 0,
    "w5": 0,
    "d6": 0,
    "w6": 0,
    "xday1": 0,
    "xmonth1": 0,
    "xday2": 0,
    "xmonth2": 0,
    "xday3": 0,
    "xmonth3": 0,
    "xday4": 0,
    "xmonth4": 0,
    "xday5": 0,
    "xmonth5": 0,
    "xday6": 0,
    "xmonth6": 0,
    "xday7": 0,
    "xmonth7": 0,
    "xday8": 0,
    "xmonth8": 0,
    "xday9": 0,
    "xmonth9": 0,
    "xday10": 0,
    "xmonth10": 0,
    "xday11": 0,
    "xmonth11": 0,
    "xday12": 0,
    "xmonth12": 0,
    "xd1": 0,
    "xw1": 0,
    "xd2": 0,
    "xw2": 0,
    "xd3": 0,
    "xw3": 0,
    "xd4": 0,
    "xw4": 0,
    "xd5": 0,
    "xw5": 0,
    "xd6": 0,
    "xw6": 0,
    "suspend": false,
    "random": false,
    "randon1": false,
    "randoff1": false,
    "randon2": false,
    "randoff2": false,
    "repeat": false,
    "atstart": true,
    "odd": false,
    "even": false,
    "x": 320,
    "y": 180,
    "wires": [["e7f4769dec01691a"], [], []]
  },
  {
    "id": "5a61830d4b037ea4",
    "type": "inject",
    "z": "d8bd6c330cdcc468",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "on",
    "payloadType": "str",
    "x": 110,
    "y": 240,
    "wires": [["234d551f34c97538", "e7f4769dec01691a"]]
  },
  {
    "id": "0d46c383a19875e1",
    "type": "function",
    "z": "d8bd6c330cdcc468",
    "name": "average cloud cover",
    "func": "\n// Input message contains the hourly weather forecast data in msg.payload\nvar forecastData = msg.payload.attributes.forecast; \nvar totalCloudCoverage = 0;\n//set how many hours to check\n//use forecastData.length to sample the next 24 hours\nvar numberOfForecasts = 4;\n\nfor (var i = 0; i < numberOfForecasts; i++) {\n    totalCloudCoverage += forecastData[i].cloud_coverage;\n}\n\nvar averageCloudCoverage = totalCloudCoverage / numberOfForecasts;\n\n// Create an output message with the average cloud coverage\nmsg.payload = averageCloudCoverage;\nreturn msg;\n",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 340,
    "wires": [["4dc2bf8956c00b78"]]
  },
  {
    "id": "4dc2bf8956c00b78",
    "type": "switch",
    "z": "d8bd6c330cdcc468",
    "name": "CloudForecast",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      { "t": "gt", "v": "50", "vt": "str" },
      { "t": "lte", "v": "50", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 440,
    "y": 520,
    "wires": [["b1ea951de39fa4ca"], ["a4b10edb825d299a"]]
  },
  {
    "id": "b1ea951de39fa4ca",
    "type": "api-call-service",
    "z": "d8bd6c330cdcc468",
    "name": "Increase SOC",
    "server": "779f7348.25937c",
    "version": 5,
    "debugenabled": false,
    "domain": "number",
    "service": "set_value",
    "areaId": [],
    "deviceId": [],
    "entityId": ["number.ss_prog3_capacity"],
    "data": "{\"value\":50}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 720,
    "y": 500,
    "wires": [[]]
  },
  {
    "id": "a4b10edb825d299a",
    "type": "api-call-service",
    "z": "d8bd6c330cdcc468",
    "name": "decrease SOC",
    "server": "779f7348.25937c",
    "version": 5,
    "debugenabled": false,
    "domain": "number",
    "service": "set_value",
    "areaId": [],
    "deviceId": [],
    "entityId": ["number.ss_prog3_capacity"],
    "data": "{\"value\":25}",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 720,
    "y": 580,
    "wires": [[]]
  },
  {
    "id": "779f7348.25937c",
    "type": "server",
    "name": "Home Assistant",
    "version": 5,
    "addon": true,
    "rejectUnauthorizedCerts": true,
    "ha_boolean": "y|yes|true|on|home|open",
    "connectionDelay": true,
    "cacheJson": true,
    "heartbeat": false,
    "heartbeatInterval": "30",
    "areaSelector": "friendlyName",
    "deviceSelector": "friendlyName",
    "entitySelector": "friendlyName",
    "statusSeparator": "at: ",
    "statusYear": "hidden",
    "statusMonth": "short",
    "statusDay": "numeric",
    "statusHourCycle": "h23",
    "statusTimeFormat": "h:m",
    "enableGlobalContextStore": true
  }
]
