Geyser control.json
[
  {
    "id": "12db5f2f976a752b",
    "type": "tab",
    "label": "Geyser control",
    "disabled": false,
    "info": ""
  },
  {
    "id": "cd2e7230fea4bf5f",
    "type": "api-current-state",
    "z": "12db5f2f976a752b",
    "name": "Not Loadshedding",
    "server": "779f7348.25937c",
    "version": 3,
    "outputs": 2,
    "halt_if": "off",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "entity_id": "binary_sensor.loadsheddingon",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "override_topic": false,
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "x": 590,
    "y": 260,
    "wires": [["8b364c53fec3956a"], []]
  },
  {
    "id": "738e0aeead706adc",
    "type": "delay",
    "z": "12db5f2f976a752b",
    "name": "",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "minutes",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 520,
    "y": 760,
    "wires": [["89fb4b2a67e18de0"]]
  },
  {
    "id": "4a698e36ea455a70",
    "type": "bigtimer",
    "z": "12db5f2f976a752b",
    "outtopic": "",
    "outpayload1": "on",
    "outpayload2": "",
    "name": "Start @ 8:30am",
    "comment": "",
    "lat": 0,
    "lon": 0,
    "starttime": "510",
    "endtime": "1350",
    "starttime2": 0,
    "endtime2": 0,
    "startoff": 0,
    "endoff": 0,
    "startoff2": 0,
    "endoff2": 0,
    "offs": 0,
    "outtext1": "1",
    "outtext2": "0",
    "timeout": 1440,
    "sun": true,
    "mon": true,
    "tue": true,
    "wed": true,
    "thu": true,
    "fri": true,
    "sat": true,
    "jan": true,
    "feb": true,
    "mar": true,
    "apr": true,
    "may": true,
    "jun": true,
    "jul": true,
    "aug": true,
    "sep": true,
    "oct": true,
    "nov": true,
    "dec": true,
    "day1": 0,
    "month1": 0,
    "day2": 0,
    "month2": 0,
    "day3": 0,
    "month3": 0,
    "day4": 0,
    "month4": 0,
    "day5": 0,
    "month5": 0,
    "day6": 0,
    "month6": 0,
    "day7": 0,
    "month7": 0,
    "day8": 0,
    "month8": 0,
    "day9": 0,
    "month9": 0,
    "day10": 0,
    "month10": 0,
    "day11": 0,
    "month11": 0,
    "day12": 0,
    "month12": 0,
    "d1": 0,
    "w1": 0,
    "d2": 0,
    "w2": 0,
    "d3": 0,
    "w3": 0,
    "d4": 0,
    "w4": 0,
    "d5": 0,
    "w5": 0,
    "d6": 0,
    "w6": 0,
    "xday1": 0,
    "xmonth1": 0,
    "xday2": 0,
    "xmonth2": 0,
    "xday3": 0,
    "xmonth3": 0,
    "xday4": 0,
    "xmonth4": 0,
    "xday5": 0,
    "xmonth5": 0,
    "xday6": 0,
    "xmonth6": 0,
    "xday7": 0,
    "xmonth7": 0,
    "xday8": 0,
    "xmonth8": 0,
    "xday9": 0,
    "xmonth9": 0,
    "xday10": 0,
    "xmonth10": 0,
    "xday11": 0,
    "xmonth11": 0,
    "xday12": 0,
    "xmonth12": 0,
    "xd1": 0,
    "xw1": 0,
    "xd2": 0,
    "xw2": 0,
    "xd3": 0,
    "xw3": 0,
    "xd4": 0,
    "xw4": 0,
    "xd5": 0,
    "xw5": 0,
    "xd6": 0,
    "xw6": 0,
    "suspend": false,
    "random": false,
    "randon1": false,
    "randoff1": false,
    "randon2": false,
    "randoff2": false,
    "repeat": false,
    "atstart": true,
    "odd": false,
    "even": false,
    "x": 340,
    "y": 140,
    "wires": [["cd2e7230fea4bf5f"], [], []]
  },
  {
    "id": "8b364c53fec3956a",
    "type": "api-call-service",
    "z": "12db5f2f976a752b",
    "name": "",
    "server": "779f7348.25937c",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": ["switch.geyser"],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "ls on",
        "valueType": "str"
      }
    ],
    "queue": "none",
    "x": 940,
    "y": 260,
    "wires": [["897ad972d3467c50", "7aa32f8e2f539dfc"]]
  },
  {
    "id": "897ad972d3467c50",
    "type": "delay",
    "z": "12db5f2f976a752b",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "hours",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1220,
    "y": 260,
    "wires": [["9a1b715ec30b2af8"]]
  },
  {
    "id": "8d243a272aa2e0b7",
    "type": "api-current-state",
    "z": "12db5f2f976a752b",
    "name": "Check Battery SOC above 50%",
    "server": "779f7348.25937c",
    "version": 3,
    "outputs": 2,
    "halt_if": "50",
    "halt_if_type": "num",
    "halt_if_compare": "gt",
    "entity_id": "sensor.ss_battery_soc",
    "state_type": "str",
    "blockInputOverrides": false,
    "outputProperties": [
      {
        "property": "switchstate",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "data",
        "propertyType": "msg",
        "value": "",
        "valueType": "entity"
      }
    ],
    "for": 0,
    "forType": "num",
    "forUnits": "minutes",
    "x": 550,
    "y": 580,
    "wires": [["275cc5a2964dda24"], ["e5add1eac9535461"]]
  },
  {
    "id": "9a1b715ec30b2af8",
    "type": "api-call-service",
    "z": "12db5f2f976a752b",
    "name": "",
    "server": "779f7348.25937c",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": ["switch.geyser"],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "morning off",
        "valueType": "str"
      }
    ],
    "queue": "none",
    "x": 1220,
    "y": 340,
    "wires": [["7aa32f8e2f539dfc"]]
  },
  {
    "id": "dff53f43cf19ea0b",
    "type": "bigtimer",
    "z": "12db5f2f976a752b",
    "outtopic": "",
    "outpayload1": "on",
    "outpayload2": "",
    "name": "Start @ 10:30am",
    "comment": "",
    "lat": 0,
    "lon": 0,
    "starttime": "630",
    "endtime": 1425,
    "starttime2": 0,
    "endtime2": 0,
    "startoff": 0,
    "endoff": 0,
    "startoff2": 0,
    "endoff2": 0,
    "offs": 0,
    "outtext1": "",
    "outtext2": "",
    "timeout": 1440,
    "sun": true,
    "mon": true,
    "tue": true,
    "wed": true,
    "thu": true,
    "fri": true,
    "sat": true,
    "jan": true,
    "feb": true,
    "mar": true,
    "apr": true,
    "may": true,
    "jun": true,
    "jul": true,
    "aug": true,
    "sep": true,
    "oct": true,
    "nov": true,
    "dec": true,
    "day1": 0,
    "month1": 0,
    "day2": 0,
    "month2": 0,
    "day3": 0,
    "month3": 0,
    "day4": 0,
    "month4": 0,
    "day5": 0,
    "month5": 0,
    "day6": 0,
    "month6": 0,
    "day7": 0,
    "month7": 0,
    "day8": 0,
    "month8": 0,
    "day9": 0,
    "month9": 0,
    "day10": 0,
    "month10": 0,
    "day11": 0,
    "month11": 0,
    "day12": 0,
    "month12": 0,
    "d1": 0,
    "w1": 0,
    "d2": 0,
    "w2": 0,
    "d3": 0,
    "w3": 0,
    "d4": 0,
    "w4": 0,
    "d5": 0,
    "w5": 0,
    "d6": 0,
    "w6": 0,
    "xday1": 0,
    "xmonth1": 0,
    "xday2": 0,
    "xmonth2": 0,
    "xday3": 0,
    "xmonth3": 0,
    "xday4": 0,
    "xmonth4": 0,
    "xday5": 0,
    "xmonth5": 0,
    "xday6": 0,
    "xmonth6": 0,
    "xday7": 0,
    "xmonth7": 0,
    "xday8": 0,
    "xmonth8": 0,
    "xday9": 0,
    "xmonth9": 0,
    "xday10": 0,
    "xmonth10": 0,
    "xday11": 0,
    "xmonth11": 0,
    "xday12": 0,
    "xmonth12": 0,
    "xd1": 0,
    "xw1": 0,
    "xd2": 0,
    "xw2": 0,
    "xd3": 0,
    "xw3": 0,
    "xd4": 0,
    "xw4": 0,
    "xd5": 0,
    "xw5": 0,
    "xd6": 0,
    "xw6": 0,
    "suspend": false,
    "random": false,
    "randon1": false,
    "randoff1": false,
    "randon2": false,
    "randoff2": false,
    "repeat": false,
    "atstart": true,
    "odd": false,
    "even": false,
    "x": 350,
    "y": 380,
    "wires": [["359c875875ec9c60"], [], []]
  },
  {
    "id": "9628479820686a05",
    "type": "api-call-service",
    "z": "12db5f2f976a752b",
    "name": "Geyser1 On",
    "server": "779f7348.25937c",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": ["switch.geyser"],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "start on",
        "valueType": "str"
      }
    ],
    "queue": "none",
    "x": 930,
    "y": 360,
    "wires": [["738e0aeead706adc", "7aa32f8e2f539dfc"]]
  },
  {
    "id": "e5add1eac9535461",
    "type": "api-call-service",
    "z": "12db5f2f976a752b",
    "name": "Both Geysers Off",
    "server": "779f7348.25937c",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": ["switch.geyser", "switch.geyser2"],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "SOC<50",
        "valueType": "str"
      }
    ],
    "queue": "none",
    "x": 1230,
    "y": 920,
    "wires": [["00f2c91cf6c1627e", "7aa32f8e2f539dfc"]]
  },
  {
    "id": "00f2c91cf6c1627e",
    "type": "delay",
    "z": "12db5f2f976a752b",
    "name": "",
    "pauseType": "delay",
    "timeout": "10",
    "timeoutUnits": "minutes",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1230,
    "y": 1060,
    "wires": [["8d243a272aa2e0b7"]]
  },
  {
    "id": "89fb4b2a67e18de0",
    "type": "time-range-switch",
    "z": "12db5f2f976a752b",
    "name": "Sunshine hours",
    "lat": "",
    "lon": "",
    "startTime": "10:30",
    "endTime": "15:00",
    "startOffset": 0,
    "endOffset": 0,
    "x": 840,
    "y": 740,
    "wires": [["8d243a272aa2e0b7"], ["fe1c102322baeea2"]]
  },
  {
    "id": "fe1c102322baeea2",
    "type": "api-call-service",
    "z": "12db5f2f976a752b",
    "name": "Both Geysers Off",
    "server": "779f7348.25937c",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": ["switch.geyser", "switch.geyser2"],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "sun off",
        "valueType": "str"
      }
    ],
    "queue": "none",
    "x": 1230,
    "y": 820,
    "wires": [["7aa32f8e2f539dfc"]]
  },
  {
    "id": "7aa32f8e2f539dfc",
    "type": "debug",
    "z": "12db5f2f976a752b",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1320,
    "y": 500,
    "wires": []
  },
  {
    "id": "48f143f8c889634d",
    "type": "inject",
    "z": "12db5f2f976a752b",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "on",
    "payloadType": "str",
    "x": 130,
    "y": 460,
    "wires": [["dff53f43cf19ea0b"]]
  },
  {
    "id": "9fbb2383a7c58a7c",
    "type": "inject",
    "z": "12db5f2f976a752b",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "off",
    "payloadType": "str",
    "x": 130,
    "y": 140,
    "wires": [["4a698e36ea455a70"]]
  },
  {
    "id": "c773f3ee46329b21",
    "type": "inject",
    "z": "12db5f2f976a752b",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "default",
    "payloadType": "str",
    "x": 130,
    "y": 200,
    "wires": [["4a698e36ea455a70"]]
  },
  {
    "id": "50dec306294521e7",
    "type": "bigtimer",
    "z": "12db5f2f976a752b",
    "outtopic": "",
    "outpayload1": "on",
    "outpayload2": "",
    "name": "Start @ 7pm",
    "comment": "",
    "lat": 0,
    "lon": 0,
    "starttime": "1140",
    "endtime": "1350",
    "starttime2": 0,
    "endtime2": 0,
    "startoff": 0,
    "endoff": 0,
    "startoff2": 0,
    "endoff2": 0,
    "offs": 0,
    "outtext1": "1",
    "outtext2": "0",
    "timeout": 1440,
    "sun": true,
    "mon": true,
    "tue": true,
    "wed": true,
    "thu": true,
    "fri": true,
    "sat": true,
    "jan": true,
    "feb": true,
    "mar": true,
    "apr": true,
    "may": true,
    "jun": true,
    "jul": true,
    "aug": true,
    "sep": true,
    "oct": true,
    "nov": true,
    "dec": true,
    "day1": 0,
    "month1": 0,
    "day2": 0,
    "month2": 0,
    "day3": 0,
    "month3": 0,
    "day4": 0,
    "month4": 0,
    "day5": 0,
    "month5": 0,
    "day6": 0,
    "month6": 0,
    "day7": 0,
    "month7": 0,
    "day8": 0,
    "month8": 0,
    "day9": 0,
    "month9": 0,
    "day10": 0,
    "month10": 0,
    "day11": 0,
    "month11": 0,
    "day12": 0,
    "month12": 0,
    "d1": 0,
    "w1": 0,
    "d2": 0,
    "w2": 0,
    "d3": 0,
    "w3": 0,
    "d4": 0,
    "w4": 0,
    "d5": 0,
    "w5": 0,
    "d6": 0,
    "w6": 0,
    "xday1": 0,
    "xmonth1": 0,
    "xday2": 0,
    "xmonth2": 0,
    "xday3": 0,
    "xmonth3": 0,
    "xday4": 0,
    "xmonth4": 0,
    "xday5": 0,
    "xmonth5": 0,
    "xday6": 0,
    "xmonth6": 0,
    "xday7": 0,
    "xmonth7": 0,
    "xday8": 0,
    "xmonth8": 0,
    "xday9": 0,
    "xmonth9": 0,
    "xday10": 0,
    "xmonth10": 0,
    "xday11": 0,
    "xmonth11": 0,
    "xday12": 0,
    "xmonth12": 0,
    "xd1": 0,
    "xw1": 0,
    "xd2": 0,
    "xw2": 0,
    "xd3": 0,
    "xw3": 0,
    "xd4": 0,
    "xw4": 0,
    "xd5": 0,
    "xw5": 0,
    "xd6": 0,
    "xw6": 0,
    "suspend": false,
    "random": false,
    "randon1": false,
    "randoff1": false,
    "randon2": false,
    "randoff2": false,
    "repeat": false,
    "atstart": true,
    "odd": false,
    "even": false,
    "x": 330,
    "y": 240,
    "wires": [["cd2e7230fea4bf5f"], [], []]
  },
  {
    "id": "275cc5a2964dda24",
    "type": "time-range-switch",
    "z": "12db5f2f976a752b",
    "name": "MidDay use other geyser",
    "lat": "",
    "lon": "",
    "startTime": "12:30",
    "endTime": "14:00",
    "startOffset": 0,
    "endOffset": 0,
    "x": 610,
    "y": 460,
    "wires": [["a23407cf3a05eff0"], ["359c875875ec9c60"]]
  },
  {
    "id": "359c875875ec9c60",
    "type": "api-call-service",
    "z": "12db5f2f976a752b",
    "name": "Geyser2 Off",
    "server": "779f7348.25937c",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": ["switch.geyser2"],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "sun off",
        "valueType": "str"
      }
    ],
    "queue": "none",
    "x": 710,
    "y": 360,
    "wires": [["9628479820686a05", "7aa32f8e2f539dfc"]]
  },
  {
    "id": "a23407cf3a05eff0",
    "type": "api-call-service",
    "z": "12db5f2f976a752b",
    "name": "Geyser1 Off",
    "server": "779f7348.25937c",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": ["switch.geyser"],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "sun off",
        "valueType": "str"
      }
    ],
    "queue": "none",
    "x": 870,
    "y": 560,
    "wires": [["e69077ea73612e39"]]
  },
  {
    "id": "e69077ea73612e39",
    "type": "api-call-service",
    "z": "12db5f2f976a752b",
    "name": "Geyser2 On",
    "server": "779f7348.25937c",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": ["switch.geyser2"],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "start on",
        "valueType": "str"
      }
    ],
    "queue": "none",
    "x": 1090,
    "y": 560,
    "wires": [["738e0aeead706adc"]]
  },
  {
    "id": "779f7348.25937c",
    "type": "server",
    "name": "Home Assistant",
    "version": 5,
    "addon": true,
    "rejectUnauthorizedCerts": true,
    "ha_boolean": "y|yes|true|on|home|open",
    "connectionDelay": true,
    "cacheJson": true,
    "heartbeat": false,
    "heartbeatInterval": "30",
    "areaSelector": "friendlyName",
    "deviceSelector": "friendlyName",
    "entitySelector": "friendlyName",
    "statusSeparator": "at: ",
    "statusYear": "hidden",
    "statusMonth": "short",
    "statusDay": "numeric",
    "statusHourCycle": "h23",
    "statusTimeFormat": "h:m",
    "enableGlobalContextStore": true
  }
]
